@import "../../../styles/variables";


.navModule {
  display: flex;
  padding-top: 60px;

  > li {
    padding: 8px;
    color: #4f4f4f;
    border-bottom: 1px solid $gray;

    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    font-size: 20px;

    &:last-of-type {
      flex: 1;
      cursor: default;
    }

    transition: background-color 0.3s, color 0.3s;
  }

  .tabActive {
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    border-bottom: none;
  }
}